<div class="mb-5">
  <div class="text-3xl w-full font-bold text-red-900">Certifications</div>
</div>

<ul class="list-disc mx-6 mb-10 grid gap-2">
  <li>
    <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> English B2</a>
  </li>
  <li>
    <a
      href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-ReynaldoBejarano-953389.pdf"
      target="_blank"
    >
      Scrum Fundamentals Certified (SFC)</a
    >
  </li>
  <li>
    <a href="#"> Cisco Cybersecurity Essentials</a>
  </li>
</ul>
