---
import TimeLineElement from "./TimeLine.astro";
---

<div class="mb-5">
    <div class="text-3xl w-full font-bold text-red-900">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's degree in Computer Engineering"
      subtitle="2021 to 2023 at Universidad Hispanoamericana, San José, Costa Rica"
      honors="Honors/Awards: Honor graduation"
      average="Weighted Average: 93%"

    />
    <!-- <TimeLineElement
      title="Bachelor's degree in Computer Engineering"
      subtitle="2021 to 2023 at Universidad Hispanoamericana, San José, Costa Rica"
    /> -->
  </div>