---
import TimeLineElement from "./TimeLine.astro";
---

<div class="mb-5">
    <div class="text-3xl w-full font-bold text-red-900">Knowledge</div>
</div>

<div class="time-line-container mb-10">
    <TimeLineElement
        title="HTML / CSS / Javascript"
        subtitle=""
        desc="I learned this during my time in college in the programming course 3. I consider that I have a good level of use of these three web development tools. I have dedicated many hours to practicing and understanding them. In addition, I constantly reinforce knowledge with so many courses on Youtube, and learning platforms such as Udemy, and Platzy, among others."
    />
    <TimeLineElement
        title="Tailwind / Boostrap / SASS"
        subtitle=""
        desc="My favorite CSS Framework is Tailwind since I end up working with classes with names very similar to basic CSS, this makes it easy for me to maintain and practice the CSS syntax. I also work with other frameworks like Boostrap or the CSS preprocessor called SASS."
    />
    <TimeLineElement
        title="React JS"
        subtitle=""
        desc="React is the interface development library that I understand and manage the best. I like its hooks system (useState, useEffect, useParam), plus it is a technology developed by a large and stable company like Facebook. In the university, I have developed several final projects using React which you can find in the projects tab."
    />
    <TimeLineElement
        title="Astro / Wordpress"
        subtitle=""
        desc="System of steps of primary information at a company. personnel's steps, control of access, impression of credentials, steps of locales, structure and composition. Technologies: Php,Symfony 3.3 , Gitlab, PostgreSQL, , Boostrap 3, JQuery, HTML,CSS, JavaScript"
    />
</div>
