<div class="mb-5">
    <div class="text-3xl w-full font-bold text-red-900">Profile</div>
</div>

<div class="mb-10 text-justify">
    Hello! My name is Reynaldo Bejarano, my interest in web development started
    in 2020 while studying computer engineering at university. Currently
    pursuing a bachelor's degree in computer engineering (May 2023). Dominion of
    various programming languages, frameworks, CMS. Looking for an internship or
    a job in a technology company to expand my Front-end development knowledge
    and gain professional experience.
</div>
