<div class="mb-5">
    <div class="text-3xl w-full font-bold text-red-900">Skills</div>
</div>

<ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Node.js</li>
    <li>React</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Scrum</li>
</ul>
